<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/adminLayoutFile :: layout(~{::form}, ~{::link})}">
<link rel="stylesheet" th:href="@{/css/createCouponForm.css}">
<style>
 .fieldError {
 border-color: #bd2130;
 }
</style>
<body>
<div class="container">
    <form class="flex-grow-1" th:action="@{/coupon/new}" th:object="${form}" method="post">
        <div class="form-group">
            <label th:for="name">쿠폰명</label>
            <input type="text" th:field="*{name}"
                   th:errorclass="field-error"
                   class="form-control"
                   placeholder="쿠폰 이름을 입력하세요">
            <p th:errors="*{name}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="discountPrice">할인 가격</label>
            <input type="number" th:field="*{discountPrice}" class="form-control"
                   placeholder="가격을 입력하세요"
                   th:errorclass="field-error"
                   th:class="form-control">
            <p th:errors="*{discountPrice}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="quantity">수량</label>
            <input type="number" th:field="*{quantity}" class="form-control"
                   placeholder="수량을 입력하세요"
                   th:errorclass="field-error"
                   th:class="form-control">
            <p th:errors="*{quantity}">Incorrect date</p>
        </div>
        <div class="form-group">
            <div class="form-group mx-sm-1 mb-2">
                <label th:for="couponType">타입</label>
                <select th:field="*{couponType}" class="form-control">
                    <option value="">쿠폰할인타입</option>
                    <option th:each="couponType : ${T(com.toy.webshop.entity.coupon.CouponType).values()}"
                            th:value="${couponType}"
                            th:text="${couponType}">option</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> <!-- /container -->
</body>
</html>
