<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/header :: header" />-->
<!--<link rel="stylesheet" th:href="@{/css/couponIssued.css?after}">-->
<head th:replace="fragments/header :: header(~{::link})">
<link rel="stylesheet" th:href="@{/css/couponIssued.css}">

<body>
<div class="container">

    <p>쿠폰함</p>
    <div class="coupons__wrapper">
        <div th:each="coupon : ${myCoupons}">
            <img th:src="@{/img/defaultCoupon.png}"/>
            <p th:text="${coupon.coupon.name}"></p>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>