
<!--<html th:replace="~{admin/adminLayoutFile :: layout(~{::div}, ~{::link})}"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<link rel="stylesheet" th:href="@{/css/itemList.css}">-->
<!--<div>-->
<!--    <p>layout 본문영역 메인입니다.</p>-->
<!--</div>-->
<!--</html>-->
<!doctype html>
<html th:replace="~{admin/adminLayoutFile :: layout(~{::div}, ~{::link})}"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/itemList.css}">
    <div>
        <p>admin Home Page!</p>
    </div>
</html>

