<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>주문 번호</th>
            <th>상품 이름</th>
            <th>상품 주문일</th>
            <th>결제 금액</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.orderStatus}"></td>
            <td th:text="${order.id}"></td>
            <td th:text="${order.orderItems[0].itemName + '외... '+{#lists.size(order.orderItems)-1} + '건'}" th:if="${#lists.size(order.orderItems)>1}"></td>
            <td th:text="${order.orderItems[0].itemName}" th:unless="${#lists.size(order.orderItems)>1}"></td>
            <td th:text= "${#temporals.format(order.orderDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${order.orderPrice}"></td>
            <td>
                <form th:if="${order.orderStatus.name() == 'ORDER'}" href="#"
                        th:action="@{'/orders/' + ${order.id} + '/delete'}" th:method="delete">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button class="btn btn-danger">CANCEL</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script th:inline="javascript">
 function cancel(id) {
 var form = document.createElement("form");
 form.setAttribute("method", "post");
 form.setAttribute("action", "/orders/" + id + "/cancel");
 document.body.appendChild(form);
 form.submit();
 }

</script>
</html>