<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(~{::link})">
<link rel="stylesheet" th:href="@{/css/orderPage.css}">
<link rel="stylesheet" th:href="@{/css/selectButton.css}">
<body>
<div class="container">
        <div class="check__all">
            <div class="inner">
                <div class="check__box">
                    <button type="button" class="btn__check" onclick="selectAll()" >
                    <span class="check__">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="ico__check">
                            <path d="M12.945 4L14.1 5.154 6.387 12.8 2 8.4l1.155-1.153 3.232 3.246L12.945 4z" fill="#C7CACD">
                            </path>
                        </svg>
                    </span>
                        전체 선택
                    </button>
                </div>
            </div>
        </div>
        <form th:action="@{/order}" id="orderForm" th:object="${OrderRequestForm}"  method="post">
            <div class="order_content">
            <table class="table table-boarded">
                <thead>
                <tr>
                    <th>#</th>
                    <th>상품 번호</th>
                    <th>상품 이름</th>
                    <th>상품 주문가격</th>
                    <th>상품 주문수량</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${itemList}">
                    <td>
                        <input type="checkbox" class="chkbox" name="chk"
                              th:value="${item.id}"  th:onclick="selectBox(event)">
                    </td>
                    <td th:text="${item.id}"></td>
                        <td th:text="${item.itemName}"></td>
                        <td id="itemPrice" th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')}"></td>
                        <td id="count" th:text="${item.count}"></td>
                </tr>
                </tbody>
            </table>
            <div class="cutting_line cutting_line_v2">
                <span class="ico_scissors"></span>
                <span class="shadow_left"></span>
                <span class="shadow_right"></span>
            </div>
                <div class="discount_wrap">
                    <div class="discount_priceInfo">
                        <div class="">
                            <h4>
                                <strong>쿠폰 & 포인트 할인</strong>
                            </h4>
                        </div>
                        <!-- SELECT -->
                        <div>
                            <div>쿠폰</div>
                            <select class="form-select" th:field="*{couponId}" th:onchange="handleOnChange(this)">
                                <option value="0">==보유 쿠폰 선택==</option>
                                <option th:each="coupon : ${coupons}" th:value="${coupon.coupon.id}"
                                        th:text="${coupon.coupon.name}">name</option>
                            </select>
                        </div>
                        <div class="area_point_title _naverPointAreaTitle">
                            <strong class="req type_paymoney">
                                <span class="blind"></span>포인트
                            </strong>
                        </div>
                        <div>
                            <ul class="list_discount type_point _naverPointArea">
                                <li class="item_discount">
                                    <div class="area_label point_balance">
                                        <strong>보유</strong>
                                    </div>
                                    <div class="area_item point_balance">
                                        <div class="input_area">
                                            <span class="value _remainTotalPointBalanceArea" th:text="${myPoint}">0</span>
                                            <span class="measure _remainTotalPointMeasureArea ">원</span>
                                        </div>
                                        <ul class="list_paymoney_balance _rewardPointAndPayMoneyBalanceArea" style="padding: 0;">
                                            <li class="item _remainPayPointAmountArea" th:text="'포인트 : ' + ${myPoint} + ' 원'">포인트 : 0원</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item_discount">
                                    <div class="area_label">
                                        <strong>사용</strong>
                                    </div>
                                    <div class="area_item">
                                        <div class="input_area">
                                            <input type="text" id="mileage" th:field="*{pointPrice}" class="payAmounts" title="포인트" name="payAmounts" th:value="0" maxlength="7"
                                                   onkeyup="maxPoint()"
                                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                            <span class="measure">원</span>
                                        </div>
                                        <button class="btn type_point" id="btn type_point" >전액사용</button>
                                    </div>
                                </li>
                            </ul>

<!--                            <div>포인트</div>-->
<!--                            <input type="number" th:max="${myPoint}" th:field="*{pointPrice}"> <p th:text="${myPoint}"></p>-->
                        </div>
                        <div class="total__cartInfo">
                            <div class="list__price">
                                <div class="sub__price">
                                    <div class="price__area">
                                        <span class="title">총 상품선택금액</span>
                                        <em>
                                            <span  id="total_itemPrice">0 원</span>
                                        </em>
                                    </div>
                                    <div class="price__area">
                                        <span class="title">총 할인금액</span>
                                        <em>
                                            <span class="num" id="num">-0 원</span>
                                        </em>
                                    </div>
                                </div>
                                <div class="total__area">
                                    <div class="price__area">
                                        <span class="title">총 주문금액</span>
                                        <em>
                                            <span class="num__total" id="total__price">0 원</span>
                                        </em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment_agree_wrap">
                <button class="btn_payment_doPayButton" id="btn1">결제하기</button>
            </div>
        </form>
</div>
</body>
<script th:inline="javascript">
var header = /*[[${_csrf.headerName}]]*/;
var token = /*[[${_csrf.token}]]*/;
const span = document.querySelector("span.check__");
const path = document.querySelector("svg.ico__check:first-child path");
const total = document.querySelector("#total_itemPrice");
let num = document.querySelector("#num");
let discountPrice = 0;
const allPoint = [[${myPoint}]];

function maxPoint() {
   const target = document.getElementById('btn type_point');
   target.disabled = false;
   const resultElement = document.querySelector("input[id='mileage']");
      if(parseInt(resultElement.value) > allPoint) {
            alert("최대 포인트를 넘을 수 없습니다.");
            resultElement.value = "0";
            num.innerText = "-" + priceFormat(0);
      }else {
           let number = resultElement.value;
           num.innerText = "-" + priceFormat(number);
      }
      totalCalc();
}
<!-- 포인트 전액 사용 -->
$(".btn").click(function(e){
	e.preventDefault();
	document.getElementById('mileage').value = allPoint;
	let discountPoint = stringToPrice($('#num').text());

	if(discountPoint + allPoint > allPoint) {
	    num.innerText = "-" + priceFormat(allPoint);
	}else {
	    num.innerText = "-" + priceFormat(discountPoint + allPoint);
	}
    totalCalc();

    <!-- 버튼 비활성화   -->
    const target = document.getElementById('btn type_point');
    target.disabled = true;
});

 $(document).ready(function() {
    $("#btn1").click(function(event) {
            var form = document.getElementById('orderForm');
			var chkbox = $("input[name=chk]:checked");

 	        // 체크된 체크박스 값을 가져온다
			chkbox.each(function(i) {
                var input1 = document.createElement('input');
                var input2 = document.createElement('input');
                var input3 = document.createElement('input');
                var input4 = document.createElement('input');

				// checkbox.parent() : checkbox의 부모는 <td>이다.
				// checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
				var tr = chkbox.parent().parent().eq(i);
				var td = tr.children();

				// td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.
				var id = td.eq(1).text();
				var name = td.eq(2).text();
				var price = stringToPrice(td.eq(3).text());
				var count = td.eq(4).text();

                input1.setAttribute("type", "hidden");
                input1.setAttribute("name", "itemDtos[" + i + "].id");
                input1.setAttribute("value", id);

                input2.setAttribute("type", "hidden");
                input2.setAttribute("name", "itemDtos[" + i + "].name");
                input2.setAttribute("value", name);

                input3.setAttribute("type", "hidden");
                input3.setAttribute("name", "itemDtos[" + i + "].price");
                input3.setAttribute("value", price);

                input4.setAttribute("type", "hidden");
                input4.setAttribute("name", "itemDtos[" + i + "].count");
                input4.setAttribute("value", count);

                form.appendChild(input1);
                form.appendChild(input2);
                form.appendChild(input3);
                form.appendChild(input4);
            });
            form.submit();
    });
});
document.addEventListener("DOMContentLoaded", () => {
    const msg = [[${msg}]];
    if(msg === '주문할 상품은 한가지 이상 선택 해주세요.') {
        alert("주문할 상품은 한가지 이상 선택 해주세요.");
    }
});
$('#total_itemPrice').on('DOMSubtreeModified', function() {
            totalCalc();
<!--      let dis = calcCoupon();-->
<!--      let total = stringToPrice($('#total_itemPrice').text()) - dis;-->
<!--      $('#total__price').text( priceFormat(total) );-->
<!--      $('#num').text( '-'+priceFormat(dis) );-->
    });

/* 전체 선택 button on/off */
function selectAll() {
    var checked = document.querySelectorAll('input[name="chk"]:checked');
    var checkboxes = document.querySelectorAll('input[name="chk"]');
    span.classList.toggle("clicked");
    path.classList.toggle("path");

    //체크 박스가 전부 선택되어 있을땐 전체 off
    if(checked.length === checkboxes.length) {
        checkboxes.forEach(input => {input.checked = false });
        total.innerText = 0 + ' 원';
    }else {
        checkboxes.forEach(input => {input.checked = true });
        let itemPrice = document.querySelectorAll("#itemPrice");
        let count = document.querySelectorAll("#count");
        let totalPrice = 0;
        let formatTotalPrice = "";
        for(var i=0; i<itemPrice.length; i++) {
        let singleItemPrice = stringToPrice(itemPrice[i].innerText);
            totalPrice += singleItemPrice * parseInt(count[i].innerText);
        }
    total.innerText = priceFormat(totalPrice);
}
}
/*문자 -> 숫자 변환 ex) 10,000 -> 10000 */
function stringToPrice(num) {
    const regex = /[^0-9]/g;
    const str = num;
    let result = str.replace(regex, "");
    let number = parseInt(result);
    return number;
}
/*숫자 -> 문자 변환 ex) 10000 -> 10,000 원*/
function priceFormat(p) {
    return p.toLocaleString() + ' 원';
}

/* 상품 개별 체크박스 */
function selectBox(event) {
let newTotalPrice = 0;
let loadTotalPrice = 0;
let singleItemPrice = stringToPrice(event.path[2].cells[3].innerText);
let totalItemPrice = stringToPrice(total.innerText);

//checked 했을때 가격 계산
if(event.target.checked) {
    newTotalPrice = singleItemPrice * parseInt(event.path[2].cells[4].innerText) + totalItemPrice;
    total.innerText = priceFormat(newTotalPrice);

    var checked = document.querySelectorAll('input[name="chk"]:checked');
    var checkboxes = document.querySelectorAll('input[name="chk"]');
    //전부 체크 되었다면 전체 체크 활성화
    if(checkboxes.length === checked.length) {
        span.classList.add("clicked");
        path.classList.add("path");
    }
} else {
    //unChecked 가격 계산
    newTotalPrice = totalItemPrice - (singleItemPrice * parseInt(event.path[2].cells[4].innerText));
    total.innerText = priceFormat(newTotalPrice);

    span.classList.remove("clicked");
    path.classList.remove("path");
  }
}

/*쿠폰 selectBox 변경시 summary totalPrice 변경*/
function handleOnChange(e) {
  //selectBox 에서 선택된 text에서 할인 숫자 추출
  const result = stringToPrice(e.options[e.selectedIndex].text);

  //쿠폰을 선택하지 않으면 할인금액 0
  if(isNaN(result)==true) {
     discountPrice = 0;
  } else {
     discountPrice = result;
  }
  totalCalc();
 }

 /*예상 할인 금액 계산*/
 function calcCoupon() {
    let total = stringToPrice($('#total_itemPrice').text());
  if(total <= 0) {
     return 0;
  }
  if(discountPrice > 100) {
     return discountPrice;
  }else {
     return total/100.0 * discountPrice;
  }
}

/*계산한 금액 화면에 출력*/
function calcSummaryText() {
    let temp = calcCoupon();
    let total = stringToPrice($('#total_itemPrice').text());
    let prev = $('#num').text();

    //summary 할인 예상금액
    num.innerText = (temp === 0) ? prev : '-' + priceFormat(temp);

    //summary totalPrice
    if(total-temp<=0) {
        total__price.innerText = '0 원';
    }else {
        total__price.innerText = priceFormat(total - temp);
    }
}

function totalCalc() {
 let temp = calcCoupon();
 let total_itemPrice = stringToPrice($('#total_itemPrice').text());
 let total_discount = stringToPrice($('#num').text());

 total__price.innerText = priceFormat(total_itemPrice - temp - total_discount);
}
</script >
</html>
