<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/adminLayoutFile :: layout(~{::div}, ~{::link})}">
<link rel="stylesheet" th:href="@{/css/userList.css}">
<body>
<div class="container">
    <div>
        <h2 class="title">유저 리스트</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>도시</th>
                <th>주소</th>
                <th>우편번호</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.address?.city}"></td>
                <td th:text="${user.address?.street}"></td>
                <td th:text="${user.address?.zipcode}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>