<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<!--<head th:replace="fragments/header :: header">-->
    <head th:replace="fragments/header :: header(~{::link})">
    <link rel="stylesheet" th:href="@{/css/carousel.css}">
        <!-- Favicons -->
    <title>WebShop</title>
</head>
<body>
<main>
    <div id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
<!--                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
                <img class="bd-placeholder-img" th:src="@{/img/Carousel1.jpg}" width="100%" height="100%"/>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <p><a class="btn btn-lg btn-primary" href="/item/detail/1">보러가기</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
<!--                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
                <img class="bd-placeholder-img" th:src="@{/img/Carousel2.jpg}" width="100%" height="100%"/>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <p><a class="btn btn-lg btn-primary" href="/item/detail/2">보러가기</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
<!--                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
                <img class="bd-placeholder-img" th:src="@{/img/Carousel3.jpg}" width="100%" height="100%"/>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <p><a class="btn btn-lg btn-primary" href="/item/detail/3">보러가기</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Marketing messaging and featurettes
 ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
<!--                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
                <img th:src="@{/img/defaultCoupon.png}" width="140" height="140"/>
                <h2>쿠폰</h2>
                <p>할인을 위해 제공되는 쿠폰</p>
                 <p><a class="btn btn-secondary" href="/coupons">발급하러가기 &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                <h2>Heading</h2>
                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                <h2>Heading</h2>
                <p>And lastly this, the third column of representative placeholder content.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"/>
                    <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"/>
                    <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
        <div th:replace="fragments/footer :: footer" />
    </div><!-- /.container -->
<!--<body>-->
<!--<div class="container">-->
<!--    <div th:replace="fragments/bodyHeader :: bodyHeader" />-->
<!--    <div class="jumbotron">-->
<!--        <div sec:authorize="isAuthenticated()">-->
<!--            <p th:text="|${loginUsername}님 환영합니다.|"></p>-->
<!--        </div>-->
<!--        <p class="lead">회원 기능</p>-->
<!--        <p>-->
<!--            <a class="btn btn-lg btn-secondary" href="/users/new"-->
<!--               sec:authorize="isAnonymous()">회원 가입</a>-->
<!--            <a class="btn btn-lg btn-secondary" href="/signin"-->
<!--               sec:authorize="isAnonymous()">로그인</a>-->
<!--            <a class="btn btn-lg btn-secondary" href="/users"-->
<!--               sec:authorize="hasAuthority('ROLE_ADMIN')">회원 목록</a>-->
<!--            <a class="btn btn-lg btn-secondary" href="/coupons"-->
<!--               sec:authorize="hasAuthority('ROLE_USER')">쿠폰받기</a>-->
<!--            <a class="btn btn-lg btn-secondary" href="/usercoupons"-->
<!--               sec:authorize="hasAuthority('ROLE_USER')">쿠폰함</a>-->
<!--            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">-->
<!--                <button class="btn btn-lg btn-secondary" type="submit">로그 아웃</button>-->
<!--            </form>-->
<!--        </p>-->
<!--        <p class="lead"-->
<!--           sec:authorize="hasAuthority('ROLE_ADMIN')">쿠폰 기능</p>-->
<!--        <p>-->
<!--            <a class="btn btn-lg btn-secondary" href="/coupon/new"-->
<!--                sec:authorize="hasAuthority('ROLE_ADMIN')">쿠폰등록</a>-->
<!--            <a class="btn btn-lg btn-secondary" href="/coupon"-->
<!--               sec:authorize="hasAuthority('ROLE_ADMIN')">쿠폰관리</a>-->
<!--        </p>-->
<!--        <p class="lead" sec:authorize="hasAuthority('ROLE_ADMIN')">상품 기능</p>-->
<!--        <p>-->
<!--            <a class="btn btn-lg btn-dark" href="/items/new"-->
<!--               sec:authorize="hasAuthority('ROLE_ADMIN')">상품 등록</a>-->
<!--            <a class="btn btn-lg btn-dark" href="/items"-->
<!--               sec:authorize="hasAuthority('ROLE_ADMIN')">상품 목록</a>-->
<!--        </p>-->
<!--        <p class="lead"-->
<!--           sec:authorize="hasAuthority('ROLE_USER')">주문 기능</p>-->
<!--        <p>-->
<!--            <a class="btn btn-lg btn-info" href="/shopping"-->
<!--               sec:authorize="hasAuthority('ROLE_USER')">상품 주문</a>-->
<!--            <a class="btn btn-lg btn-info" href="/orderList"-->
<!--               sec:authorize="hasAuthority('ROLE_USER')">주문 내역</a>-->
<!--        </p>-->
<!--        <p class="lead"-->
<!--           sec:authorize="hasAuthority('ROLE_USER')">장바구니 기능</p>-->
<!--        <p>-->
<!--            <a class="btn btn-lg btn-info" href="/items/cart"-->
<!--               sec:authorize="hasAuthority('ROLE_USER')">장바구니</a>-->
<!--        </p>-->
<!--    </div>-->
<!--    <div th:replace="fragments/footer :: footer" />-->
<!--</div> &lt;!&ndash; /container &ndash;&gt;-->
<!--</body>-->
</main>
</body>
</html>
